<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type='text/css' href="css/mydir.css" type="text/css">
  <link rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <meta charset="utf-8">
    <title>
      <%= title %>
    </title>
  </head>
  <body>
  <!----타이틀 ----------------------------------------------------------->
   <section class="main-tabs">
  <h1>수어 학습 사이트</h1>
  <h3>나만의 단어장으로 원하는 수어들을 학습해보세요!</h3>
         <!-------------------------검색으로 돌아가기------------------------->
     <div class="menu-tabs-container">
    <button class="menu-tabs" onclick="movepage()">검색으로 돌아가기</button>
    <script>
      function movepage(){
        location.href = "/searchpage";
      }
    </script>
    </div>
  </section>
    <script>
      function postid(clicked_id){
       var form = document.createElement("form");
       form.setAttribute("method", "post");
       form.setAttribute("action","/deletedir");
       document.body.appendChild(form);

       var insert = document.createElement('input');
       insert.setAttribute("type","hidden");
       insert.setAttribute("name","test3");
       insert.setAttribute("value",clicked_id);
       form.appendChild(insert);
       form.submit();
      }
  </script>
    <form>
    <% if(locals.data){%>
      <table border=1px solid black>
        <tr>
          <td>이름</td>
          <td>이미지</td>
          <td>삭제버튼</td>
        </tr>
        <% for(let i = 0; i<data.length; i++){%>
          <tr>
            <td><%=data[i].title%></td>
            <td><img src=<%=data[i].img%>></img></td>
            <td><input type="button" class="tdclass" id=<%=data[i].slid%> value="삭제" onclick="postid(this.id)"></input></td>
          </tr>
          <%}%>
        <%}%>
      </table>
      <% if(locals.text){%>
        <p><%=locals.text%></p>
      <%}%>

    </form>
<div class="fixed">
 <p >최근 <br>검색한 단어</p>
      <%if(locals.data2)%>
      <p><%=locals.data2[0]%></p>
      <p><%=locals.data2[1]%></p>
      <p><%=locals.data2[2]%></p>
      <%if(locals.text1){%>
  <script>
    alert(locals.text1)
  </script>
  <%}%>
  </div>
  </body>

</html>
