<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
          <link rel="stylesheet" type='text/css' href="css/searchpage.css" type="text/css">
  <link rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css'>
    <title>
      <%= title %>
    </title>
    <script>
        function postid(clicked_id){
         var form = document.createElement("form");
         form.setAttribute("method", "post");
         form.setAttribute("action","/adddir1");
         document.body.appendChild(form);

         var insert = document.createElement('input');
         insert.setAttribute("type","hidden");
         insert.setAttribute("name","test2");
         insert.setAttribute("value",clicked_id);
         form.appendChild(insert);
         form.submit();
        }
    </script>
  </head>
  <body>
 <!-----메인--------------------------> 
  <section class="main-tabs">
  <h1>수어 학습 사이트</h1>
  <h3>나만의 단어장으로 원하는 수어들을 학습해보세요!</h3>
    <!------------로그아웃, 단어장---------------------->
   <div class="menu-tabs-container">

      <form class="login-form", action="/logout", method="get">
      <a class="menu-tabs" type="submit" value=OK>로그아웃</a>
    </form>
      <a class="menu-tabs" onclick="movepage()">나만의 단어장</a>
   </div>
    <script>
      function movepage(){
        location.href = "/mydir";
      }
    </script>
  </section>
  
  <!------- 검색 창------->
  <br><br>
  <div class="search">
    <form name="search_form" action="/search1" method="post">
      <input id="input" type="text" name="test1" placeholder="단어 입력" />
      <br>
    </form>
</div>
<!----------------출력창--------------------------------------->

<br><br>
    <form>
    <% if(locals.data){%>
      <table >
        <tr>
          <td>Title</td>
          <td>설명</td>
          <td>영상</td>
          <td>이미지</td>
          <td>단어장 추가</td>
        </tr>
        <% for(let i = 0; i<data.length; i++){%>
          <tr>
            <td><%=data[i].title%></td>
            <td><%=data[i].des%></td>
            <td><video src=<%=data[i].video%> autoplay="autoplay"></video></td>
            <td><img src=<%=data[i].img%>></img></td>
            <td><input type="button" class= "add" class="tdclass" id=<%=data[i].slid%> value="추가" onclick="postid(this.id)"></input></td>
          </tr>
          <%}%>
        <%}%>
      </table>
    </form>
 <div class="fixed">
 <p >최근 검색한 단어</p>
      <%if(locals.data2)%>
      <p>1 = <%=locals.data2[0]%></p>
      <p>2 = <%=locals.data2[1]%></p>
      <p>3 = <%=locals.data2[2]%></p>
      <%if(locals.text1){%>
  <script>
    alert(locals.text1)
  </script>
  <%}%>
  </div>
  </body>

</html>
