<!DOCTYPE html>
 <html lang="en">
 <head>
   <title><%=title%></title>
 </head>

 <body>
   <header>
  </header>
  <p>Main Test </p>
  <body>
    <form class="login-form", action="/signup1", method="post">
        <input type="text" name="username" placeholder="Username"/>
        <input type="text" name="password"  placeholder="Password"/>
        <button type="submit" value=OK>회원가입</button>
</form>
<!---로그인 확인 기능--->
<%if(locals.text){%>
  <%=locals.text%>
  <%}else{%>
    <form class="login-form", action="/login1", method="post">
            <input type="text" name="username" placeholder="Username"/>
            <input type="text" name="password"  placeholder="Password"/>
            <button type="submit" value=OK>로그인</button>
    </form>
    <%}%>
  
<body>
    <form class="login-form", action="/logout", method="get">
            <button type="submit" value=OK>로그아웃</button>
    </form>
    <button onclick="movepage()">검색페이지</button>

    <script>
      function movepage(){
        location.href = "/searchpage";
      }
    </script>
  <form>
    <!---최근검색어 출력--->
    <%if(locals.data2)%>
    <p>1 = <%=locals.data2[0]%></p>
    <p>2 = <%=locals.data2[1]%></p>
    <p>3 = <%=locals.data2[2]%></p>
  </form>
  <%if(locals.text1){%>
  <script>
    alert(locals.text1)
  </script>
  <%}%>
</body>
</html>