<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= title %>
    </title>
    <script language = "javascript">
        function output(form) {
          for(var i = 0; i < form.SearchCondition.length; i++) {
              if(form.SearchCondition[i].checked) {
                var SearchCondition = form.SearchCondition[i].value;
                if (SearchCondition =="단어"){
                  form.action.value="/search1";
                }
                else if (SearchCondition == "문장"){
                  form.action="/search2";

                }
            }
          }
        }
        function AddDir() {

        }

    </script>
  </head>
  <body>
    <form name="search_form" action="/search1" method="post">
      <input type="radio" name="SearchCondition" checked="checked" value="단어"/>단어
      <input type="radio" name="SearchCondition" value="문장"/>문장
      <input type="text" name="test1"/>
      <button type="submit" value=OK onclick="output(this.form)">OK</button><br>

      <br>
    </form>
    <br>
    <form class="" action="index.html" method="post">
    <% if(locals.data){%>
      <table border=1px solid black>
        <tr>
          <td>Title</td>
          <td>설명</td>
          <td>영상</td>
          <td>이미지</td>
          <td>단어장 추가</td>
        </tr>
        <% for(let i = 0; i<data.length; i++){%>
          <tr>
            <td><%=data[i].title%></td>
            <td><%=data[i].des%></td>
            <td><video src=<%=data[i].video%> autoplay="autoplay"></video></td>
            <td><img src=<%=data[i].img%>></img></td>
            <td><button type="button" name="button" onclick="AddDir()">추가</button></td>
          </tr>
          <%}%>
        <%}%>
      </table>
    </form>

  </body>

</html>
